@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*colors*/
$red: #FF0000;
$red-hover: #FF0000D6;
$black: #000;
$white: #FFF;
$blue: #004570;
//$red-hover: rgba(0, 69, 112, 0.84);
//$red-hover: rgba(0, 69, 112, 0.84);
//$red-hover: rgba(254, 190, 16, 0.84);
//$red: #003da5;
$green: #016D7C;
$background-gray: #282828;
$brand-color: #cd2a2a;

$gray: #c8c8c7;
$brand-color: #2b6cef;
$main-gray: #363636;
$white: #fff;
$light-grey: #ebebeb;
$text: #020a1a;
$title: #020202;

main {
  max-width: none;
  margin: 0 auto;
}

/* Section Video Styles */
.section-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
  background-color: #F7F8FB;
  margin-bottom: 0;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    padding: 89px 0;
    max-width: 1440px;
    margin: 0 auto;

    &.text {
      padding: 23px 16px;

      @media only screen and (max-width: 768px) {
        padding: 23px 0;
      }

      .title-gemini {
        font-weight: 700;
        font-size: 32px;
        line-height: 183%;
        text-align: center;
        color: #21272a;
      }
    }

    .flex-7 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      gap: 60px;
      max-width: 1229px;

      @media only screen and (max-width: 768px) {
        gap: 10px;
      }

      .frame-1000000946 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        align-self: stretch;
        gap: 24px;

        @media only screen and (max-width: 768px) {
          align-items: center;
        }

        .frame-1000000947 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          gap: 24px;

          .title-gemini {
            font-family: 'Barlow', sans-serif;
            font-weight: 700;
            font-size: 45px;
            line-height: 1.3em;
            text-align: center;
            color: #21272A;
            max-width: 938px;
            width: 100%;
            margin: 0;

            &.h3 {
              font-weight: 700;
              font-size: 32px;
              line-height: 183%;
              text-align: center;
              color: #21272a;
            }

            @media only screen and (max-width: 768px) {
              width: 100%;
            }
          }

          .description-gemini {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19.4976px;
            line-height: 1.55em;
            text-align: center;
            color: #21272A;
            width: 100%;
            margin: 0;
            max-width: 961px;

            @media only screen and (max-width: 768px) {
              width: 100%;
              height: auto;
            }
          }
        }

        .summary-gemini {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 19.4976px;
          line-height: 1.55em;
          text-align: right;
          color: #21272A;
          width: 469px;
          //height: 59px;
          margin: 0;

          &.text-italic {
            font-style: italic;
          }

          @media only screen and (max-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

/* Section Mission Styles */
.section-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 16px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    padding: 50px 0 0;
    max-width: 1440px;
    margin: 0 auto;

    .mission-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      max-width: 1229px;
      width: 100%;

      .mission-title {
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 32px; // figma ~32.256px
        line-height: 1.3em;
        text-align: center;
        color: #000000;
        margin: 0 0 20px 0;
      }

      .mission-description {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16.5px;
        line-height: 1.55em;
        text-align: center;
        color: #21272A;
        max-width: 685px;
        width: 100%;
        margin: 0 0 40px 0;
      }

      .mission-highlight {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px 32px;
        background: #EAF0FD;
        border-radius: 30px;
        max-width: 573px;

        p {
          font-family: 'Noto Serif', serif;
          font-weight: 500;
          font-size: 24px; // desktop figma
          line-height: 1.56em;
          text-align: center;
          color: #000000;
          margin: 0;
        }
      }

      @media only screen and (max-width: 768px) {
        gap: 20px;

        .mission-title {
          font-size: 32px; // same as figma mobile
        }

        .mission-description {
          max-width: 100%;
        }

        .mission-highlight {
          max-width: 100%;

          p {
            font-size: 20px; // figma mobile
            line-height: 1.362em;
          }
        }
      }
    }
  }
}

/* Section Gemini Risk Engine Styles */
.section-gemini-risk-engine {
  padding: 40px 16px 40px 16px;
  background: $white;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    padding: 37px 15px;
  }

  .section-gemini-risk-engine {
    padding: 40px 16px 40px 16px;
    background: $white;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
      padding: 37px 15px;
    }
  }

  .section-gemini-risk-container {
    max-width: 1258px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      padding: 0;
    }
  }

  .section-gemini-risk-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 50px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      align-items: center;
      gap: 15px;
      margin-bottom: 0;
      align-self: stretch;
    }
  }

  .section-gemini-risk-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 32.256px;
    line-height: 1.3em;
    text-align: center;
    color: #000000;
    margin: 0 0 36px 0;

    @media only screen and (max-width: 768px) {
      margin: 0;
      width: 100%;
    }
  }

  .section-gemini-risk-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16.5024px;
    line-height: 1.55em;
    text-align: center;
    color: #21272A;
    margin: 0;
    max-width: 884px;

    @media only screen and (max-width: 768px) {
      max-width: 400px;
      width: 100%;
    }
  }

  .section-gemini-risk-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    padding: 0 15px;

    @media only screen and (max-width: 991px) {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0;
    }
  }

  .gemini-risk-image-container {
    max-width: 604px;
    width: 100%;
    background: #F8F8F8;
    border-radius: 30px;
    overflow: hidden;
    padding: 18px 12px;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 30px;
    }
  }

  .gemini-risk-accordion {
    max-width: 604px;
    width: 100%;
    display: flex;
  }

  .accordion-item-risk {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 32px;
    background: #F8F8F8;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
      gap: 12px;
      padding: 16px 32px;
      height: auto;
    }
  }

  .accordion-header-risk {
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    font-size: 24.6px;
    line-height: 1.522em;
    text-align: left;
    color: #000000;
    margin: 0;
  }

  .accordion-content-risk {
    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.55em;
      text-align: left;
      color: #000000;
      margin: 0;
    }
  }

  .text-italic {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    color: #21272a;
    max-width: 584px;
    width: 100%;;
    margin: 38px auto 0;
  }
}

/* Section System Architecture Styles */
.section-secure-data-handling {
  padding: 10px 16px 0 16px;
  background: $white;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    padding: 37px 15px;
  }

  .section-secure-data-container {
    max-width: 1258px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      padding: 0;
    }
  }

  .section-secure-data-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 50px;
    width: 100%;

    @media only screen and (max-width: 768px) {
      align-items: center;
      gap: 15px;
      margin-bottom: 0;
      align-self: stretch;
    }
  }

  .section-secure-data-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 32.256px;
    line-height: 1.3em;
    text-align: center;
    color: #000000;
    margin: 0 0 36px 0;

    @media only screen and (max-width: 768px) {
      margin: 0;
      width: 100%;
    }
  }

  .section-secure-data-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16.5024px;
    line-height: 1.55em;
    text-align: center;
    color: #21272A;
    margin: 0;
    max-width: 884px;

    @media only screen and (max-width: 768px) {
      max-width: 400px;
      width: 100%;
    }
  }

  .section-secure-data-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    padding: 0 15px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    //@media only screen and (max-width: 768px) {
    //  flex-direction: column;
    //  gap: 20px;
    //  align-items: stretch;
    //  width: 100%;
    //}
  }

  .secure-data-image-container {
    max-width: 604px;
    width: 100%;
    background: #EAF0FD;
    border-radius: 30px;
    overflow: hidden;
    padding: 18px 12px;
    box-sizing: border-box;

    //@media only screen and (max-width: 768px) {
    //  width: 100%;
    //  max-width: 400px;
    //}

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 30px;
    }
  }

  .secure-data-accordion {
    max-width: 604px;
    width: 100%;
    display: flex;

    //@media only screen and (max-width: 768px) {
    //  width: 100%;
    //  max-width: 400px;
    //  height: auto;
    //}
  }

  .accordion-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 32px;
    background: #EAF0FD;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
      gap: 12px;
      padding: 16px 32px;
      height: auto;
    }
  }

  .accordion-header {
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    font-size: 24.6px;
    line-height: 1.522em;
    text-align: left;
    color: #000000;
    margin: 0;
  }

  .accordion-content {
    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.55em;
      text-align: left;
      color: #000000;
      margin: 0;
    }
  }

  .text-italic {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    color: #21272a;
    max-width: 584px;
    width: 100%;;
    margin: 38px auto 0;
  }
}

.section-about {
  position: relative;
  width: 100%;
  padding: 314px 0 0 0;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    height: auto;
    min-height: 400px;
    padding: 160px 0 0 0;
  }

  .parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    @media only screen and (max-width: 768px) {
      top: -145px;
    }

    @media only screen and (max-width: 480px) {
      top: -180px;
      left: -15px;
    }

    img {
      object-fit: cover;
      position: absolute;
      left: 49.5%;
      transform: translateX(-50%);
      width: 1425px;
      height: 703px;

      @media only screen and (max-width: 480px) {
        width: 1273px;
      }
    }
  }

  .section-about-content {
    position: relative;
    z-index: 1;
    //max-width: 1229px;
    width: 100%;
    margin: 0 auto;
    padding: 0 98px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    @media only screen and (max-width: 991px) {
      padding: 0 16px;
    }
  }


  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 614px;
    width: 100%;

    @media only screen and (max-width: 991px) {
      gap: 20px;
    }
  }

  .section-title {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.048;
    color: $title;
    text-align: center;
    margin: 0;

    @media only screen and (max-width: 991px) {
      font-size: 30px;
    }
  }

  .text-paragraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      color: #21272A;
      text-align: center;
      margin: 0;
    }

    .paragraph-1 {
      font-size: 16px;
      line-height: 1.55;
      max-width: 591px;
      width: 100%;
      
      @media only screen and (max-width: 768px) {
      br {
        display: none;
      }
      }

      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    .paragraph-2 {
      font-size: 15px;
      line-height: 1.705;
      text-align: left;

      border-radius: 20px;
      padding: 15px 15px 10px;
      max-width: 448px;
      width: 100%;
      height: 200px;
      background: #acdbfd;

      .h3 {
        font-weight: 500;
        font-size: 32px;
        color: #000;
        display: flex;
      }

      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 155%;
        color: #000;
      }

      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}


.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
  background-color: #F7F8FB;
  margin-top: 100px;
  
  @media only screen and (max-width: 768px) {
    margin-top: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    padding: 24px 0;
    max-width: 1440px;
    margin: 0 auto;

    .frame-cta {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      gap: 24px;
      max-width: 1149px;
      width: 100%;

      .title-gemini {
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.828em;
        text-align: center;
        color: #21272A;
        margin: 0;
      }

      .description-gemini {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.511em;
        text-align: left;
        color: #21272A;
        max-width: 1149px;
        width: 100%;
        margin: 0;

        .email-link {
          display: flex;
          align-items: center;

          a {
            font-weight: 400;
            font-size: 20px;
            color: #21272a;
            margin-left: 10px;
          }
        }
      }

      .summary-gemini {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 19.4976px;
        line-height: 1.55em;
        text-align: left;
        color: #21272A;
        max-width: 537px;
        width: 100%;
        margin: 0;

        &.text-italic {
          font-style: italic;
        }
      }


    }

  }

  @media only screen and (max-width: 768px) {
    .content {
      padding: 23px 0;

      .frame-cta {
        //max-width: 400px;

        .title-gemini {
          font-size: 32px;
        }

        .description-gemini {
          //max-width: 400px;
          width: 100%;
          height: auto;
        }

        .summary-gemini {
          //max-width: 400px;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.cta {
  padding: 55px 16px;

  .cta-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;

    
    @media only screen and (max-width: 768px) {

        flex-direction: column;
        gap: 40px;

    }

    .cta-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 8px 24px;
      background-color: #2B6CEF;
      color: #FFFFFF;
      border-radius: 50px;
      text-decoration: none;
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 15.1px;
      line-height: 2.261em;
      letter-spacing: 0.042em; // ~4.238%
      transition: opacity 0.2s ease-in-out;
      min-width: 243px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
