@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*colors*/
$red: #FF0000;
$red-hover: #FF0000D6;
$black: #000;
$white: #FFF;
$blue: #004570;
//$red-hover: rgba(0, 69, 112, 0.84);
//$red-hover: rgba(0, 69, 112, 0.84);
//$red-hover: rgba(254, 190, 16, 0.84);
//$red: #003da5;
$green: #016D7C;
$background-gray: #282828;
$brand-color: #cd2a2a;

$gray: #c8c8c7;
$brand-color: #2b6cef;
$main-gray: #363636;
$white: #fff;
$light-grey: #ebebeb;
$text: #020a1a;
$title: #020202;

main {
  max-width: none;
  margin: 0 auto;
}

/* Section Video Styles */
.section-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
  background-color: #F7F8FB;
  margin-bottom: 0;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    padding: 89px 0;
    max-width: 1440px;
    margin: 0 auto;

    &.text {
      padding: 23px 16px;

      @media only screen and (max-width: 768px) {
        padding: 23px 0;
      }

      .title-gemini {
        font-weight: 700;
        font-size: 32px;
        line-height: 183%;
        text-align: center;
        color: #21272a;
      }
    }

    .flex-7 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      gap: 60px;
      max-width: 1229px;

      @media only screen and (max-width: 768px) {
        gap: 10px;
      }

      .frame-1000000946 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        align-self: stretch;
        gap: 24px;

        @media only screen and (max-width: 768px) {
          align-items: center;
        }

        .frame-1000000947 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          gap: 24px;

          .title-gemini {
            font-family: 'Barlow', sans-serif;
            font-weight: 700;
            font-size: 45px;
            line-height: 1.3em;
            text-align: center;
            color: #21272A;
            max-width: 938px;
            width: 100%;
            margin: 0;

            &.h3 {
              font-weight: 700;
              font-size: 32px;
              line-height: 183%;
              text-align: center;
              color: #21272a;
            }

            @media only screen and (max-width: 768px) {
              width: 100%;
            }
          }

          .description-gemini {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19.4976px;
            line-height: 1.55em;
            text-align: center;
            color: #21272A;
            width: 100%;
            margin: 0;
            max-width: 961px;

            @media only screen and (max-width: 768px) {
              width: 100%;
              height: auto;
            }
          }
        }

        .summary-gemini {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 19.4976px;
          line-height: 1.55em;
          text-align: right;
          color: #21272A;
          width: 469px;
          //height: 59px;
          margin: 0;

          &.text-italic {
            font-style: italic;
          }

          @media only screen and (max-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

/* Section Mission Styles */
.section-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
  margin-bottom: 50px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    padding: 50px 0;
    max-width: 1440px;
    margin: 0 auto;

    .mission-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      max-width: 1229px;
      width: 100%;

      .mission-title {
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 32px; // figma ~32.256px
        line-height: 1.3em;
        text-align: center;
        color: #000000;
        margin: 0 0 20px 0;
      }

      .mission-description {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16.5px;
        line-height: 1.55em;
        text-align: center;
        color: #21272A;
        max-width: 685px;
        width: 100%;
        margin: 0 0 40px 0;
      }

      .mission-highlight {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px 32px;
        background: #EAF0FD;
        border-radius: 30px;
        max-width: 573px;

        p {
          font-family: 'Noto Serif', serif;
          font-weight: 500;
          font-size: 24px; // desktop figma
          line-height: 1.56em;
          text-align: center;
          color: #000000;
          margin: 0;
        }
      }

      @media only screen and (max-width: 768px) {
        gap: 20px;

        .mission-title {
          font-size: 32px; // same as figma mobile
        }

        .mission-description {
          max-width: 100%;
        }

        .mission-highlight {
          max-width: 100%;

          p {
            font-size: 20px; // figma mobile
            line-height: 1.362em;
          }
        }
      }
    }
  }
}