@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: #fff !important;
  overflow-x: hidden;
  position: relative;
}

main {
  min-height: 800px;
  padding: 0 !important;
}
main .title {
  background: #F2F5F7;
  padding: 40px 16px;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  main .title {
    padding: 40px 16px;
  }
}
main .title-content {
  max-width: 982px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .title .last-updated {
  color: rgba(11, 15, 17, 0.7);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
main .title .intro-text {
  color: #0B0F11;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.219em;
  margin: 0;
}

.text-content {
  max-width: 900px;
  width: 100%;
  margin: 48px auto 60px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media only screen and (max-width: 991px) {
  .text-content {
    padding: 0 16px;
    gap: 40px;
  }
}
.text-content .section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text-content .section h3 {
  margin-top: 16px;
}
.text-content h2 {
  color: #0B0F11;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}
.text-content h3 {
  color: #0B0F11;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0;
}
.text-content p {
  color: rgba(11, 15, 17, 0.8);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
}
.text-content ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
}
.text-content ul li {
  color: rgba(11, 15, 17, 0.8);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
  list-style: none;
  position: relative;
  padding-left: 20px;
  margin-bottom: 0;
}
.text-content ul li:before {
  content: "•";
  position: absolute;
  left: 0;
}

footer {
  background: #101D2A;
}
footer .footer-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px;
}
footer .footer-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media only screen and (max-width: 991px) {
  footer .footer-main {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  footer .footer-main {
    gap: 40px;
  }
}
footer .logo {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  footer .logo {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
footer .logo img {
  height: 56px;
}
footer .logo p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 131.25% */
  margin-left: 24px;
  max-width: 336px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  footer .logo p {
    margin-left: 0;
  }
}
footer .contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  max-width: 636px;
}
@media only screen and (max-width: 991px) {
  footer .contact {
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  footer .contact {
    flex-direction: column;
    gap: 40px;
  }
}
footer .contact-item .country {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 100% */
  margin-bottom: 10px;
}
footer .contact-item .country span {
  margin-left: 8px;
}
footer .contact-item address {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px; /* 131.25% */
}
footer .copyright {
  background: #07131F;
}
footer .copyright-content {
  padding: 16px 40px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  footer .copyright-content {
    flex-direction: column-reverse;
    gap: 16px;
  }
}
footer .copyright span {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px; /* 100% */
}
footer .copyright p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px; /* 100% */
}
footer .copyright a {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px; /* 100% */
}

/*# sourceMappingURL=privacy.css.map */
