@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*colors*/
$red: #FF0000;
$red-hover: #FF0000D6;
$black: #000;
$white: #FFF;
$blue: #004570;
//$red-hover: rgba(0, 69, 112, 0.84);
//$red-hover: rgba(0, 69, 112, 0.84);
//$red-hover: rgba(254, 190, 16, 0.84);
//$red: #003da5;
$green: #016D7C;
$background-gray: #282828;
$brand-color: #cd2a2a;

$gray: #c8c8c7;
$brand-color: #2b6cef;
$main-gray: #363636;
$white: #fff;
$light-grey: #ebebeb;
$text: #020a1a;
$title: #020202;

/* Section Video Styles */
.section-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 98px;
  background-color: #F7F8FB;
  
  @media only screen and (max-width: 768px) {
    padding: 0 14px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    padding: 89px 0;
    
    .flex-7 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      gap: 60px;
      
      @media only screen and (max-width: 768px) {
        gap: 10px;
      }
      
      .frame-1000000946 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        align-self: stretch;
        gap: 24px;
        
        @media only screen and (max-width: 768px) {
          align-items: center;
        }
        
        .frame-1000000947 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          gap: 24px;
          
          .title-gemini {
            font-family: 'Barlow', sans-serif;
            font-weight: 700;
            font-size: 45px;
            line-height: 1.3em;
            text-align: center;
            color: #21272A;
            width: 938px;
            margin: 0;
            
            @media only screen and (max-width: 768px) {
              width: 100%;
            }
          }
          
          .description-gemini {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 19.4976px;
            line-height: 1.55em;
            text-align: center;
            color: #21272A;
            width: 100%;
            margin: 0;
            
            @media only screen and (max-width: 768px) {
              width: 100%;
              height: auto;
            }
          }
        }
        
        .summary-gemini {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 19.4976px;
          line-height: 1.55em;
          text-align: right;
          color: #21272A;
          width: 609px;
          height: 59px;
          margin: 0;
          
          @media only screen and (max-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}